database/* @akarmanov2022
.github/* @akarmanov2022
**/*.java @akarmanov2022
**/database/** @akarmanov2022
**/*.sql @akarmanov2022
**/Dockerfile @akarmanov2022
**/*.js @BDA228
**/*.ts @BDA228
**/*.tsx @BDA228
**/*.jsx @BDA228
**/*.css @BDA228
src/* @BDA228