database/* @akarmanov2022, @SgiSbi
.github/* @akarmanov2022, @SgiSbi
**/*.java @akarmanov2022, @SgiSbi
**/database/** @akarmanov2022, @SgiSbi
**/*.sql @akarmanov2022, @SgiSbi
**/Dockerfile @akarmanov2022, @SgiSbi
**/*.js @BDA228, @SgiSbi
**/*.ts @BDA228, @SgiSbi
**/*.tsx @BDA228, @SgiSbi
**/*.jsx @BDA228, @SgiSbi
**/*.css @BDA228, @SgiSbi
src/* @BDA228, @SgiSbi
